/* Nav Bar*/
nav, footer {
    background-color: #1d3557 !important;
}
/* Original String */
.originalString {
    background-color: #1d3557 !important;
    color: white !important; 
}
/* Buttons */
.buttons .btn {
    margin-bottom: 10px;
    min-width: 60% !important;
}
.buttons .btn:last-child {
    margin-bottom: 0px !important;
}