body {
    background-color: #f1faEE;
}
/* Nav Bar */
nav, footer {
    background-color: #1d3557 !important;
}
/* Main */
main {
    background-color: #fafaee !important;
}
/* Buttons */
.btn {
    border-radius: 0%;
}
