/* Nav Bar */
nav {
    background-color: #1d3557 !important;
}
/* Main */
main {
    background-color: #fafaee !important;
}
.box {
    border: 1px solid black;
}
/* Buttons */
.btn {
    border-radius: 0%;
}