body {
    background-color: #f1faEE;
}
/* Nav Bar & Footer*/
nav, footer {
    background-color: #1d3557 !important;
}
/* Current Date and Time */
.originalString {
    background-color: #1d3557 !important;
    color: white !important; 
}
/* Buttons */
.buttons .btn {
    margin-bottom: 8px;
    min-width: 70% !important;
}
.buttons .btn:last-child {
    margin-bottom: 0px !important;
}