/* Nav Bar*/
nav, footer {
    background-color: #1d3557 !important;
}
/* Main */
main {
    flex: 1 0 auto;
}
.buttons .btn {
    margin-bottom: 8px;
    min-width: 45% !important;
}
.originalString {
    background-color: #1d3557 !important;
    color: white !important; 
}