#heroSection {
   background-image: url("../assets/Images/1.jpg");
   min-height: 100vh;
   background-position: center;
   background-size: cover;
}
.btn {
   border-radius: 0%;
}
/* Shorthand Property */
/* background { color , Image, background repeat, background position, background attachment} */
